{% load static i18n %}

<header class="header">
  <nav class="navbar navbar-expand-lg header-nav">
    <div class="navbar-header">
      <a id="mobile_btn" href="javascript:void(0);">
        <span class="bar-icon">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </a>
      <a href="{% url 'agendas:doctors' %}" class="navbar-brand logo">
        <img src="{% static 'app/logos/doctores-color.png' %}" class="img-fluid" alt="Logo">
      </a>
    </div>
    <div class="main-menu-wrapper">
      <div class="menu-header">
        <a href="{% url 'agendas:doctors' %}" class="menu-logo">
          <img src="{% static 'app/logos/doctores-color.png' %}" class="img-fluid" alt="Logo">
        </a>
        <a id="menu_close" class="menu-close" href="javascript:void(0);">
          <i class="fas fa-times"></i>
        </a>
      </div>
      <ul class="main-nav">
        <li class="active">
          <a href="{% url 'agendas:doctors' %}">+ {% trans 'New Appointment' %}</a>
        </li>

        <li class="login-link">
          {% if user.is_authenticated %}
            <a href="{% url 'agendas:profile' %}">{% trans 'My Account' %}</a>
          {% else %}
            <a href="{% url 'account_login' %}">{% trans 'Login / Signup' %}</a>
          {% endif %}
        </li>
      </ul>
    </div>
    <ul class="nav header-navbar-rht">
      <li class="nav-item contact-item">
        <div class="header-contact-img">
          <i class="far fa-hospital"></i>
        </div>
        <div class="header-contact-detail">
          <p class="contact-header">{% trans 'Contact' %}</p>
          <p class="contact-info-header"> +52 5544586680</p>
        </div>
      </li>
      <li class="nav-item">
        {% if user.is_authenticated %}
            <a class="nav-link header-login" href="{% url 'agendas:profile' %}">{% trans 'My Account' %}</a>
        {% else %}
          <a class="nav-link header-login" href="{% url 'account_login' %}">{% trans 'Login / Signup' %}</a>
        {% endif %}
      </li>
    </ul>
  </nav>
</header>
