{% extends 'layouts/base_app.html' %}
{% load static i18n %}

{% block title %}Inicio{% endblock %}
{% block content %}
  {% include "partials/header.html" %}
  <section class="section section-search">
    <div class="container-fluid">
      <div class="banner-wrapper">
        <div class="banner-header text-center">
          <h1>{% trans 'Search Doctor, Make an Appointment' %}</h1>
          <p>{% trans 'Discover the best doctors, clinic & hospital the city nearest to you.' %}</p>
        </div>
      </div>
    </div>
  </section>

  {% include "partials/doctor_cards.html" %}
  {% include "partials/footer.html" %}
{% endblock %}
