{% extends 'layouts/base_app.html' %}
{% load static i18n %}

{% block title %}{% trans 'Doctor Profile' %}{% endblock %}
{% block content %}
  {% include "partials/header.html" %}

  <!-- Breadcrumb -->
  <div class="breadcrumb-bar">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-12 col-12">
          <nav aria-label="breadcrumb" class="page-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/">{% trans 'Home' %}</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {% trans 'Doctor Profile' %}
              </li>
            </ol>
          </nav>
          <h2 class="breadcrumb-title">
            {% trans 'Doctor Profile' %}
          </h2>
        </div>
      </div>
    </div>
  </div>
  <!-- /Breadcrumb -->

  <!-- Page Content -->
  <div class="content" id="doctor">
    <div class="container">

      <!-- Doctor Widget -->
      <div class="card">
        <div class="card-body">
          <div class="doctor-widget">
            <div class="doc-info-left">
              <div class="doctor-img">
                  <img src="{% if doctor.user.photo_url %}{{ doctor.user.photo_url }}{% else %}{% static 'app/img/avatars/anon.png' %}{% endif %}"
                       class="img-fluid" alt="{{ doctor.user.full_name }}"
                       width="460" height="300" />
              </div>
              <div class="doc-info-cont">
                <h4 class="doc-name">{{ doctor.user.full_name }}</h4>
                <p class="doc-speciality">{{ doctor.title }}</p>
                <p class="doc-department">
                  <img src="{% static 'app/img/specialities/specialities-05.png' %}" class="img-fluid" alt="Speciality">
                  {{ doctor.specialty }}
                </p>
                <div class="rating">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star"></i>
                  <span class="d-inline-block average-rating">(35)</span>
                </div>

                <div class="clinic-services">
                  <span>General Medicine</span>
                  <span>Intensive Care</span>
                </div>
              </div>
            </div>
            <div class="doc-info-right">
              <div class="clini-infos">
                <ul>
                  <li><i class="far fa-thumbs-up"></i> 0%</li>
                  <li><i class="far fa-comment"></i> 0 Feedback</li>
                  <li>
                    <i class="fas fa-map-marker-alt"></i>
                    {{ doctor.location }}
                  </li>
                  <li>
                    <i class="far fa-money-bill-alt"></i>
                    {% if doctor.fee %}
                      {{ doctor.fee }} MXN / {{ doctor.consultation_duration }}min
                    {% else %}
                      {% trans 'Unavailable' %}
                    {% endif %}
                  </li>
                </ul>
              </div>
              <div class="doctor-action">
                <a href="javascript:void(0)" class="btn btn-white fav-btn">
                  <i class="far fa-bookmark"></i>
                </a>
                <a href="chat.html" class="btn btn-white msg-btn">
                  <i class="far fa-comment-alt"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-white call-btn" data-toggle="modal" data-target="#voice_call">
                  <i class="fas fa-phone"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-white call-btn" data-toggle="modal" data-target="#video_call">
                  <i class="fas fa-video"></i>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- /Doctor Widget -->

      <div class="row">
        <div class="col-12 col-sm-4 col-md-6">
          <h4 class="mb-1">
            {% now "j F Y" %}
          </h4>
          <p class="text-muted">{% now "D" %}</p>
        </div>
        <div class="col-12 col-sm-8 col-md-6 text-sm-right">
          <div class="bookingrange btn btn-white btn-sm mb-3">
            <i class="far fa-calendar-alt mr-2"></i>
            <span></span>
            <i class="fas fa-chevron-down ml-2"></i>
          </div>
        </div>
      </div>
      <!-- Schedule Widget -->
      <div class="card booking-schedule schedule-widget">

        <!-- Schedule Header -->
        <div class="schedule-header">
          <div class="row">
            <div class="col-md-12">

              <!-- Day Slot -->
              <div class="day-slot">
                <ul>
                  <li class="left-arrow">
                    <a href="" @click.prevent="handlePreviousWeek">
                      <i class="fa fa-chevron-left"></i>
                    </a>
                  </li>
                  {% verbatim %}
                  <li v-for="day in week_days" :key="day.date">
                    <span>{{ day.day }}</span>
                    <span class="slot-date">{{ day.label }}</span>
                  </li>
                  {% endverbatim %}

                  <li class="right-arrow">
                    <a href="" @click.prevent="handleNextWeek">
                      <i class="fa fa-chevron-right"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /Day Slot -->

            </div>
          </div>
        </div>
        <!-- /Schedule Header -->

        <!-- Schedule Content -->
        <div class="schedule-cont">
          <div class="row">
            <div class="col-md-12">

              <!-- Time Slot -->
              {% verbatim %}
              <div class="time-slot">
                <ul class="clearfix">
                  <li v-for="day in week_days" :key="day.date">
                    <a v-for="hour in day.hours" :key="hour.time" disabled
                       v-bind:class="{timing: true, selected: matchSelected(day.date, hour.time), disabled: !hour.available}" href="#"
                       @click.prevent="select(hour.available, day.date, hour.time)">
                      <span v-if="hour.available">{{ hour.time}}</span>
                      <span v-else>Unavailable</span>
                    </a>
                  </li>
                </ul>
              </div>
              {% endverbatim %}
              <!-- /Time Slot -->
            </div>
          </div>
        </div>
        <!-- /Schedule Content -->
        <div ref="successModal" class="modal fade custom-modal">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">{% trans 'Appointment Booked!' %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="card-body">
                  <div class="success-cont">
                    <i class="fas fa-check"></i>
                    <h3>{% trans 'Appointment booked Successfully!' %}</h3>
                    <p>{% trans 'Appointment booked with!' %}<strong>Dr. Darren Elder</strong><br> on <strong>12 Nov 2019 5:00PM to 6:00PM</strong></p>
                    <a href="/" class="btn btn-primary view-inv-btn" @click.prevent="handleGoProfile">
                      {% trans 'Ok, Go to my Profile' %}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- /Schedule Widget -->

      <!-- Submit Section -->
      <div class="submit-section proceed-btn text-right">
        <a href="#" class="btn btn-primary submit-btn" @click.prevent="handleCreateAppointment">
          {% trans 'Book Appointment' %}
        </a>
      </div>
      <!-- /Submit Section -->
    </div>
  </div>

  <!-- /Page Content -->
  {% include "partials/footer.html" %}
{% endblock %}

{% block extra_scripts %}
  <script>
    var DOCTOR_UUID = '{{ doctor.uuid }}';
    var CURRENT_YEAR = parseInt('{{ year }}');
    var CURRENT_WEEK = parseInt('{{ week_number }}');
    var WEEK = JSON.parse('{{ week_json|safe }}');
  </script>
  <script src="{% static 'app/components/doctor.js' %}"></script>
{% endblock %}
