{% extends 'layouts/base_app.html' %}
{% load static i18n %}

{% block title %}Inicio{% endblock %}
{% block content %}
  {% include "partials/header.html" %}
  <section class="section section-search">
    <div class="container-fluid">
      <div class="banner-wrapper">
        <div class="banner-header text-center">
          <h1>Search Doctor, Make an Appointment</h1>
          <p>Discover the best doctors, clinic & hospital the city nearest to you.</p>
        </div>
        <div class="search-box">
          <form action="search.html">
            <div class="form-group search-location">
              <input type="text" class="form-control" placeholder="Search Location">
              <span class="form-text">Based on your Location</span>
            </div>
            <div class="form-group search-info">
              <input type="text" class="form-control" placeholder="Search Doctors, Clinics, Hospitals, Diseases Etc">
              <span class="form-text">Ex : Dental or Sugar Check up etc</span>
            </div>
            <button type="submit" class="btn btn-primary search-btn"><i class="fas fa-search"></i> <span>Search</span></button>
          </form>
        </div>
      </div>
    </div>
  </section>

  {% include "partials/professional_cards.html" %}
  {% include "partials/footer.html" %}
{% endblock %}
