{% extends 'layouts/base_sign.html' %}
{% load static i18n %}

{% block title %}{% trans 'Reset Password' %}{% endblock %}
{% block sign_content %}
  <div class="row">
    <div class="col-md-8 offset-md-2">

      <!-- Account Content -->
      <div class="account-content">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7 col-lg-6 login-left">
            <img src="{% static 'app/img/login-banner.png' %}" class="img-fluid" alt="Login Banner">
          </div>
          <div class="col-md-12 col-lg-6 login-right">
            <div class="login-header">
              <h3>{% trans 'Forgot Password?' %}</h3>
              <p class="small text-muted">
                {% trans 'Enter your email to get a password reset link' %}
              </p>
            </div>

            <!-- Forgot Password Form -->
            <form action="{% url 'account_reset_password' %}" method="post">
              {% csrf_token %}
              <div class="form-group form-focus {% if form.email.errors %}has-error{% endif %}">
                <input type="text" class="form-control floating" id="id_email"
                           name="email" placeholder="{% trans 'Email' %}"
                           value="{% if form.email.value %}{{ form.email.value }}{% endif %}">

                <label class="focus-label">
                  {% trans 'Email' %}
                </label>

                {% if form.email.errors %}
                  <span class="help-block">
                    {% for error in form.email.errors %}
                      <span>{{ error|escape }}</span>
                    {% endfor %}
                  </span>
                {% endif %}
              </div>

              {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}

              <button class="btn btn-primary btn-block btn-lg login-btn" type="submit">
                {% trans 'Reset Password' %}
              </button>
            </form>
            <!-- /Forgot Password Form -->
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

